<?xml version="1.0" encoding="utf-8"?><?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"><manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"

    <application        android:maxSdkVersion="32" />

        android:allowBackup="true"    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

        android:icon="@mipmap/ic_launcher"    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

        android:label="@string/app_name"    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

        android:roundIcon="@mipmap/ic_launcher_round"    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        android:supportsRtl="true"

        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">    <application

                android:name=".JavaIDEApplication"

        <activity        android:allowBackup="true"

            android:name=".MainActivity"        android:icon="@mipmap/ic_launcher"

            android:exported="true"        android:label="@string/app_name"

            android:windowSoftInputMode="adjustResize">        android:roundIcon="@mipmap/ic_launcher_round"

            <intent-filter>        android:supportsRtl="true"

                <action android:name="android.intent.action.MAIN" />        android:theme="@style/Theme.JavaIDE">

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>        <activity

        </activity>            android:name=".MainActivity"

    </application>            android:exported="true"

</manifest>            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>